Repository okineadev/material-icons-figma-plugin, changes with the labels that .github/labeler.yml gives for each.
All labels: 📝 docs, ✨ enhancement, 🔄 workflows

.github/labeler.yml:

📝 docs:
- changed-files:
  - any-glob-to-any-file: '*.md'

✨ enhancement:
- changed-files:
  - any-glob-to-any-file: ['src/**/*']

🔄 workflows:
- changed-files:
  - any-glob-to-any-file: ['.github/workflows/*', '.github/labeler.yml']

docs: update getting started guide
  README.md
Labels: 📝 docs

docs: add support section
  README.md
Labels: 📝 docs

feat(ci): setup automatic publishing to Figma
  .github/workflows/release.yml
  bun.lock
  package.json
Labels: 🔄 workflows

chore: 📝 add feature request template
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/pull_request_template.md
Labels: none

fix: build before testing
  package.json
Labels: none

ci: automate the release process
  .github/workflows/release.yml
  bun.lock
  package.json
Labels: 🔄 workflows

fix(ci): fix Figma changelog generation
  .github/workflows/release.yml
Labels: 🔄 workflows

chore(deps): update packages
  bun.lock
  package.json
  renovate.json
Labels: none

fix: 🚑 install `jsdom` package
  bun.lock
  package.json
Labels: none

fix(ci): fix Figma changelog generation
  .github/workflows/release.yml
Labels: 🔄 workflows

fix(ci): commit `material-icon-theme` package update only if it have update
  .github/workflows/release.yml
Labels: 🔄 workflows

fix(ci): fix permissions in the `release` job
  .github/workflows/release.yml
Labels: 🔄 workflows

fix(ci): fix "Publish Figma plugin" step in the `release` workflow
  .github/workflows/release.yml
Labels: 🔄 workflows

fix workflows
  .github/workflows/release.yml
Labels: 🔄 workflows

upd
  .github/workflows/release.yml
  package.json
Labels: 🔄 workflows

fix: patch bug in the `figcd` package
  .github/workflows/release.yml
  .vscode/settings.json
  bun.lock
  package.json
  patches/figcd@0.0.16.patch
Labels: 🔄 workflows

fix
  bun.lock
Labels: none

chore: migrate from Renovate to Dependabot
  .github/dependabot.yml
Labels: none

chore: remove renovate.json
  renovate.json
Labels: none

fix: fix Dependabot configuration
  .github/dependabot.yml
Labels: none

Delete renovate.json
  renovate.json
Labels: none

chore: remove `dependabot.yml`
  .github/dependabot.yml
Labels: none

chore: improve commitlint rules and config to yml format
  .commitlintrc.yml
  commitlint.config.js
Labels: none

chore(vscode-settings): use `tsconfig` file icon for `tsconfig*.json` files
  .vscode/settings.json
  vite.config.ts
Labels: none

ci: remove `close-stale-issues.yml` workflow
  .github/workflows/close-stale-issues.yml
Labels: 🔄 workflows

chore: pin `material-icon-theme` package version exactly to `5.23.0` in the bun lockfile
  bun.lock
Labels: none
