Repository okineadev/material-icons-figma-plugin, changes with the labels that .github/labeler.yml gives for each.
All labels: 📝 docs, ✨ enhancement, 🔄 workflows

.github/labeler.yml:

📝 docs:
- changed-files:
  - any-glob-to-any-file: '*.md'

✨ enhancement:
- changed-files:
  - any-glob-to-any-file: ['src/**/*']

🔄 workflows:
- changed-files:
  - any-glob-to-any-file: ['.github/workflows/*', '.github/labeler.yml']

docs: ✏️ update README with enhanced description and features
  README.md
Labels: 📝 docs

docs: 🏞️ change banner image
  README.md
  assets/banner.png
Labels: 📝 docs

docs: 🏞️ change banner image
  assets/banner.png
  assets/github-preview.png
Labels: none

docs: ✏️ update README and add `CREDITS.md` file
  CREDITS.md
  README.md
Labels: 📝 docs

chore: update banner design
  assets/banner.png
  assets/github-preview.png
Labels: none

chore: 🎉 add PR closed workflow
  .github/workflows/pr-closed.yml
Labels: 🔄 workflows

chore: 📝 add issue templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

test
  .github/settings.yml
Labels: none

Update settings.yml
  .github/settings.yml
Labels: none

chore: 🗑️ remove settings.yml
  .github/settings.yml
Labels: none

refactor: :bulb: add more comments
  .vscode/extensions.json
  bun.lock
  package.json
  scripts/bundleIcons.ts
  src/code/index.ts
  src/ui/App.vue
  src/ui/components/Icons.vue
  src/ui/components/Input.vue
  src/ui/scss/styles.scss
  src/ui/shims-vue.d.ts
  src/ui/types.d.ts
  src/ui/vite-env.d.ts
  tsconfig.ui.json
Labels: ✨ enhancement

fix: 🚑 fix build errors
  bun.lock
  package.json
  src/ui/App.vue
  src/ui/components/Icons.vue
  src/ui/shims-vue.d.ts
  tsconfig.ui.json
Labels: ✨ enhancement

Add CONTRIBUTING.md file with clear instructions and emojis
  CONTRIBUTING.md
Labels: 📝 docs

Add CONTRIBUTING.md (#4)
  CONTRIBUTING.md
Labels: 📝 docs

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: 📝 docs

feat(ci): ♻️ create `release` and `build` workflows
  .github/workflows/build.yml
  .github/workflows/release.yml
  .gitignore
  package.json
Labels: 🔄 workflows

Improve contribution guidelines
  CONTRIBUTING.md
Labels: 📝 docs

Improve contribution guidelines (#5)
  CONTRIBUTING.md
Labels: 📝 docs

Improve repository with unit tests, CI/CD, and accessibility
  .github/workflows/build.yml
  package.json
  src/code/index.ts
  src/ui/App.vue
  src/ui/components/Icons.vue
  src/ui/components/Input.vue
  tests/App.test.ts
  tests/Icons.test.ts
  tests/Input.test.ts
  tests/code.test.ts
Labels: ✨ enhancement, 🔄 workflows

remove tests
  bun.lock
  package.json
  src/ui/components/Icons.vue
  tests/App.test.ts
  tests/Icons.test.ts
  tests/Input.test.ts
  tests/code.test.ts
Labels: ✨ enhancement

fix
  .github/workflows/build.yml
  .github/workflows/release.yml
  src/ui/components/Icons.vue
Labels: ✨ enhancement, 🔄 workflows

Improve code (#6)
  .github/workflows/release.yml
  bun.lock
  package.json
  src/code/index.ts
  src/ui/App.vue
  src/ui/components/Icons.vue
  src/ui/components/Input.vue
Labels: ✨ enhancement, 🔄 workflows

Revert "chore(release): v0.0.1"
  CHANGELOG.md
  package.json
Labels: 📝 docs

docs: ✏️ update contribution guidelines
  CONTRIBUTING.md
Labels: 📝 docs

feat(ci): 🤐 improve zip compression
  .github/workflows/release.yml
Labels: 🔄 workflows

fix(ci): fix release workflow attestation failing
  .github/workflows/release.yml
Labels: 🔄 workflows

chore(funding): do not sponsor an organization whose owner is a jerk.
  .github/FUNDING.yml
Labels: none

fix: fix security backdoors
  .github/workflows/pr-title.yml
Labels: 🔄 workflows

feat(tests): 🧪 add tests
  .github/workflows/build.yml
  .github/workflows/release.yml
  .lintstagedrc
  .vscode/extensions.json
  bun.lock
  package.json
  shims-vue.d.ts
  src/code/index.ts
  tests/App.test.ts
  tests/Icons.test.ts
  tests/Input.test.ts
  tests/index.test.ts
  tsconfig.json
  tsconfig.node.json
  tsconfig.tests.json
  tsconfig.ui.json
  vite-env.d.ts
  vitest.config.ts
Labels: ✨ enhancement, 🔄 workflows

fix(tests): 🚑 fix tests
  tests/index.test.ts
Labels: none

fix(lint): fix lint-staged configuration
  .lintstagedrc
Labels: none

fix(ci): add tests directory to build triggers
  .github/workflows/build.yml
Labels: 🔄 workflows

refactor(tests): 🧹 clean up commented code in App tests
  tests/App.test.ts
Labels: none

fix: fix release workflow
  .github/workflows/release.yml
Labels: 🔄 workflows

Revert "chore(release): v0.0.1"
  CHANGELOG.md
  package.json
Labels: 📝 docs

fix: fix release workflow
  .github/workflows/release.yml
Labels: 🔄 workflows

chore: ✏️ update copyright information and contact email
  .vscode/settings.json
  LICENSE
  SECURITY.md
  src/ui/App.vue
Labels: 📝 docs, ✨ enhancement

chore: format package.json
  package.json
Labels: none

chore: ✏️ create pull request template
  .github/pull_request_template.md
Labels: none

docs: 📚 add project architecture documentation
  .vscode/settings.json
  src/architecture.md
Labels: ✨ enhancement
